@font-face {
    font-family: 'atkinson_hyperlegibleregular';
    src: url('font/atkinsonhyperlegible-regular-webfont.woff2') format('woff2'),
         url('font/atkinsonhyperlegible-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'atkinson_hyperlegibleitalic';
    src: url('font/atkinsonhyperlegible-italic-webfont.woff2') format('woff2'),
         url('font/atkinsonhyperlegible-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'atkinson_hyperlegiblebold';
    src: url('font/atkinsonhyperlegible-bold-webfont.woff2') format('woff2'),
         url('font/atkinsonhyperlegible-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #1D3557;
}

.l-site{

}

.top-bar{
    position: absolute;
    top: 0px;
    background-color: #A8DADC;
    width: 100%;
    height: 7.5vh;
}

#logo{
    height: 7.5vh;
}

.toolbar{
    position: absolute;
    left: 0px;
    top: 7.5vh;
    width: 60px;
    height: 92.5vh;
}

#spacer{
    height: 16px;
}

.l-nav{
    position: absolute;
    left: 60px;
    top: 7.5vh;
    height: 92.5vh;
    width: 200px;
    background: #2C405D;
    overflow-y: auto;
}

#settings{
    padding: 25px;
    display: inherit;
}

#color-settings{
    padding: 25px;
    display: none;
}

#record{
    padding: 25px;
    display: none;
}

.record_controls{
    margin-bottom: 16px;
    border-radius: 6px;
    border-width: 0px;
    font-size: medium;
    background-color: #F1FAEE;
    height: 30px;
}

#attribution{
    padding-right: 25px;
    padding-top: 1vh;
    float: right;
    clear: both;
    font-size: small;
}

#attribution p{
    color:#1D3557;
    font-family: atkinson_hyperlegibleregular;
}

#attribution a{
    color:#2C405D;
    font-family: atkinson_hyperlegiblebold;
}

.l-page{
    position: absolute;
    top: 7.5vh;
    left: 260px;
    right: 0;
}

#calculator{
    width:inherit;
    height: 92.5vh;
}

#image{
    float: left;
    display: none;
}

#screenshot{

}

#expression-colors input[type=color]{
    width: 100px;
}

p{
    color: #F1FAEE;
    font-family: atkinson_hyperlegibleregular
}

a{
    text-decoration: none;
    color: #A8DADC;
}

label{
    color: #F1FAEE;
    font-family: atkinson_hyperlegibleregular;
}


.buttons{
    float: right;
    padding: 15px;
    margin-top: 5px;
    font-family: atkinson_hyperlegibleregular;
}

select{
    width: 144px;
    border-radius: 4px;
    margin: 5px 0px;
    border-width: 0px;
    height: 25px;
    background-color: #F1FAEE;
}


input[type=number]{
    width: 140px;
    border-width: 0px;
    height: 25px;
    background-color: #F1FAEE;
}

input[type=color]{
    width: 140px;
    border-width: 0px;
    height: 25px;
    background-color: #F1FAEE;
}

input{
    border-radius: 4px;
    margin: 5px 0px;
}
