body {
    margin: 0;
    padding: 0;
    background: #1D3557;
}

.l-site{

}

.top-bar{
    position: absolute;
    top: 0px;
    background-color: #A8DADC;
    width: 100%;
    height: 100px;
}

.toolbar{
    position: absolute;
    left: 0px;
    top: 100px;
    width: 60px;
    height: 100%;
}

.l-nav{
    position: absolute;
    left: 60px;
    top: 100px;
    padding: 20px;
    height: 100%;
    background: #2C405D;
}

#settings{
    display: block;
}

#record{
    display: none;
}

.record_controls{
    margin: 10px;
}

#attribution{
    margin: 10px 15px;
    float: left;
    clear: both;
    font-size: small;
}

.l-page{
    position: absolute;
    top: 100px;
    left: 350px;
    width: 1400px;
}

#calculator{
    width: 1200px;
    height: 800px;
    float: left;
    margin: 20px 0;
    padding: 0px 16px;
}

#image{
    width: 1200px;
    height: 800px;
    float: left;
    margin: 20px 0;
    padding: 0px 16px;
}

#screenshot{

}

#logo{
    margin: 20px;
}

p{
    color: #F1FAEE;
    font-family: sans
}

a{
    text-decoration: none;
    color: #A8DADC;
}

label{
    color: #F1FAEE;
    font-family: sans
}


.buttons{
    float: right;
    margin: 13px;
}

input-text{
    padding: 5px 10px;
    margin: 10px 15px;
    border-radius: 4px;
    width: 140px;
}
